{% extends "layout.html.twig" %}

{% block content %}
<h1>{{ page_title }}</h1>
    <a class="button button-primary" href="{{ path("person.create") }}">Создать</a>
    <div class="u-pull-right">Сегодня: <b>{{ current_date }}</b></div>
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Имя Фамилия</th>
            <th>Дата рождения</th>
            <th>-</th>
        </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.getName() }}</td>
                <td>{{ person.getDateString() }}</td>
                <td>
                    <a href="{{ path("person.edit", {id: person.id}) }}" class="button button-primary">Изменить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}